---
http_interactions:
- request:
    method: get
    uri: http://twoffein.com/api/get/drinks/?api_key=1CBA7V9XFKHJ&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"drink":"Kaffee","key":"kaffee","brand":"0"},{"drink":"Milchkaffee","key":"milchkaffee","brand":"0"},{"drink":"Eiskaffee","key":"eiskaffee","brand":"0"},{"drink":"Energy
        Drink","key":"energiedrink","brand":"0"},{"drink":"Cola","key":"cola","brand":"0"},{"drink":"Cola
        Light","key":"colalight","brand":"0"},{"drink":"Cola Zero","key":"colazero","brand":"0"},{"drink":"Cola-Mix","key":"colamix","brand":"0"},{"drink":"Cola-Mix
        Light","key":"colamixlight","brand":"0"},{"drink":"Cola-Mix Zero","key":"colamixzero","bran[...]
- request:
    method: get
    uri: http://twoffein.com/api/get/drinks/?api_key=1CBA7V9XFKHJ&encode=xml&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8"?>

        <root><item><drink>Kaffee</drink><key>kaffee</key><brand>0</brand></item><item><drink>Milchkaffee</drink><key>milchkaffee</key><brand>0</brand></item><item><drink>Eiskaffee</drink><key>eiskaffee</key><brand>0</brand></item><item><drink>Energy
        Drink</drink><key>energiedrink</key><brand>0</brand></item><item><drink>Cola</drink><key>cola</key><brand>0</brand></item><item><drink>Cola
        Light</drink><key>colalight</key><brand>0</brand></item><item><drink>Cola
        Zero</drink><key>colazero</key>[...]
- request:
    method: get
    uri: http://twoffein.de/api/get/drinks/?api_key=1CBA7V9XFKHJ&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://twoffein.com/api/get/drinks/?screen_name=DSIW&api_key=1CBA7V9XFKHJ
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="http://twoffein.com/api/get/drinks/?screen_name=DSIW&amp;api_key=1CBA7V9XFKHJ">here</a>.</p>

        </body></html>

'
  recorded_at: Mon, 20 Aug 2012 16:51:26 GMT
- request:
    method: get
    uri: http://twoffein.de/api/get/drinks/?api_key=1CBA7V9XFKHJ&encode=xml&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - http://twoffein.com/api/get/drinks/?screen_name=DSIW&api_key=1CBA7V9XFKHJ&encode=xml
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: US-ASCII
      string: ! '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="http://twoffein.com/api/get/drinks/?screen_name=DSIW&amp;api_key=1CBA7V9XFKHJ&amp;encode=xml">here</a>.</p>

        </body></html>

'
  recorded_at: Mon, 20 Aug 2012 17:15:47 GMT
- request:
    method: get
    uri: http://twoffein.com/api/get/drinks/?api_key=1CBA7V9XFKHJ&drink=all&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"drink":"Kaffee","key":"kaffee","brand":"0"},{"drink":"Milchkaffee","key":"milchkaffee","brand":"0"},{"drink":"Eiskaffee","key":"e[...]
[...]
