---
http_interactions:
- request:
    method: get
    uri: http://twoffein.com/api/get/profile/?api_key=1CBA7V9XFKHJ&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"quest":"Blitzlicht","drink":"Club-Mate","rank":74,"rank_title":"Kaffeek\u00e4nnchen","drunken":"15","bluttwoffeinkonzentration":"1%","first_login":"1341747375","screen_name":"DSIW"}'
  recorded_at: Wed, 22 Aug 2012 14:26:16 GMT
- request:
    method: get
    uri: http://twoffein.com/api/get/profile/?api_key=1CBA7V9XFKHJ&profile=BakeRolls&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"quest":"Blitzlicht","drink":"Club-Mate","rank":74,"rank_title":"Kaffeek\u00e4nnchen","drunken":"15","bluttwoffeinkonzentration":"1%","first_login":"1341747375","screen_name":"DSIW"}'
  recorded_at: Wed, 22 Aug 2012 14:27:12 GMT
recorded_with: VCR 2.2.4
