---
http_interactions:
- request:
    method: get
    uri: http://twoffein.com/api/post/tweet/?api_key=1CBA7V9XFKHJ&drink=clubmate&screen_name=DSIW&target_screen_name=UserDoesNotExistTest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code":"luna","info":"Youre Tweet has been tweeted. Thanks.","tweets":1}'
  recorded_at: Wed, 22 Aug 2012 13:46:08 GMT
- request:
    method: get
    uri: http://twoffein.com/api/post/tweet/?api_key=1CBA7V9XFKHJ&drink=clubmate&screen_name=DSIW&target_screen_name=BakeRolls
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code":"pinkiepie","error":"You cant drink more than one drink in
        15 minutes.","sleep":9}'
  recorded_at: Wed, 22 Aug 2012 13:51:28 GMT
- request:
    method: get
    uri: http://twoffein.com/api/post/tweet/?api_key=1CBA7V9XFKHJ&drink=clubmate&screen_name=DSIW
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"code":"luna","info":"Youre Tweet has been tweeted. Thanks.","tweets":2}'
  recorded_at: Wed, 22 Aug 2012 14:07:22 GMT
recorded_with: VCR 2.2.4
